<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJnEtwPlaN1eArh49eRwy2mWM-GI8HSRQ</string>
	<key>GCM_SENDER_ID</key>
	<string>522011170537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.receipe</string>
	<key>PROJECT_ID</key>
	<string>recipe-33f86</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-33f86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522011170537:ios:9f88c6cd8e8f143fe88278</string>
</dict>
</plist>